@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webki-font-smoothing: antialiased;
}

@layer base {
  :root {
    /*"zinc 50"*/
    --background_primary: #fafafa;
    /*"zinc 100"*/
    --background_secondary: #f4f4f5;
    /*"zinc 200"*/
    --background_tertiary: #e4e4e7;

    /*"zinc 300"*/
    --foreground_primary: #d4d4d8;
    /*"zinc 400"*/
    --foregroundd_secondary: #a1a1aa;
    /*"zinc 500"*/
    --foregroundd_tertiary: #71717a;

    /*"zinc 950"*/
    --text_primary: #09090b;
    /*"zinc 900"*/
    --text_secondary: #18181b;
    /*"zinc 800"*/
    --text_tertiary: #27272a;

    /*"blue 500"*/
    --link_primary: #3b82f6;
    /*"blue 600"*/
    --link_secondary: #2563eb;
    /*"blue 700"*/
    --link_tertiary: #1d4ed8;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }


  .dark {
    /*"zinc 950"*/
    --background_primary: #09090b;
    /*"zinc 900"*/
    --background_secondary: #18181b;
    /*"zinc 800"*/
    --background_tertiary: #27272a;

    /*"zinc 700"*/
    --foreground_primary: #3f3f46;
    /*"zinc 600"*/
    --foregroundd_secondary: #52525b;
    /*"zinc 500"*/
    --foregroundd_tertiary: #71717a;

    /*"zinc 100"*/
    --text_primary: #fafafa;
    /*"zinc 300"*/
    --text_secondary: #d4d4d8;
    /*"zinc 400"*/
    --text_tertiary: #a1a1aa;

    /*"blue 500"*/
    --link_primary: #3b82f6;
    /*"blue 600"*/
    --link_secondary: #2563eb;
    /*"blue 700"*/
    --link_tertiary: #1d4ed8;

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}