@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webki-font-smoothing: antialiased;
}

@layer base {
  :root {
    --background_primary: #f1f5f9;
    --background_secondary: #e5e5e5;
    --background_tertiary: #d4d4d4;

    --foreground_primary: ##e5e7eb;
    --foregroundd_secondary: #d1d5db;
    --foregroundd_tertiary: #9ca3af;

    --text_primary: #000000;
    --text_secondary: #1f2937;
    --text_tertiary: #374151;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background_primary: #030712;
    --background_secondary: #111827;
    --background_tertiary: #1f2937;

    --foreground_primary: #374151;
    --foregroundd_secondary: #4b5563;
    --foregroundd_tertiary: #6b7280;

    --text_primary: #fafafa;
    --text_secondary: #e4e4e7;
    --text_tertiary: ##d4d4d8;


    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}